div.toolbar{
	width: 870px;
	margin: 15px;
	background: #CCCCCC;
	height: 30px;
	font-size: 20px;
	padding: 15px;

}

div.toolbar input, select{
	border: none;
	outline: none;
	height: 30px;
	margin: 0 15px 0 0;
	font-family: "Open Sans";
}

div.toolbar input[type="number"]{
	width: 100px;
	height: 20px;
	padding: 5px;
}

div.toolbar input[type="text"]{

}

div.toolbar input[type="color"]{
	width: 100px;
}

div.toolbar input[type="button"]{
	color: white;
	width: 30px;
}

div.toolbar select{
	width: 120px;
}

div#pointSpace{
	margin: 10px 0 0 0;
	width: 855px;
	height: 40px;
	padding: 5px;
	background: #1A1A1A;
}

div.pointDiv{
	float: left;
	background: purple;
	margin: 5px;
	height: 30px;
	line-height: 30px;
	width: 150px;
	font-size: 15px;
	color: white;
	font-family: "Open Sans";
}

div.pointDiv input[type="text"]{
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	background: transparent;
	color: white;
	font-weight: bold;
	text-align: center;
}