div.toolbar{
	width: 870px;
	margin: 15px;
	background: #CCCCCC;
	height: 30px;
	font-size: 20px;
	padding: 15px;

}

div.toolbar input, select{
	border: none;
	outline: none;
	height: 30px;
	margin: 0 15px 0 0;
	font-family: "Open Sans";
}

div.toolbar input[type="number"]{
	width: 100px;
	height: 20px;
	padding: 5px;
}

div.toolbar input[type="text"]{
	width: 190px;
	padding-left: 10px;
}

div.toolbar input[type="color"]{
	width: 100px;
	margin-top: -10px;
}

div.toolbar input[type="button"]{
	color: white;
	padding: 0 10px;
}

div.toolbar select{
	width: 120px;
}

div#pointSpace{
	margin: 10px 0 0 0;
	width: 855px;
	height: 35px;
	padding: 5px;
	background: #1A1A1A;
}

div.pointDiv{
	float: left;
	background: purple;
	margin: 5px;
	height: 25px;
	line-height: 25px;
	width: 107.5px;
	font-size: 10px;
	color: white;
	font-family: "Open Sans";
	padding: 0 0 0 25px;
}

div.pointDiv input[type="text"]{
	width: 25px;
	height: 25px;
	padding: 0;
	position: absolute;
	margin: 0 0 0 -25px;
	background: transparent;
	color: white;
	font-weight: bold;
	text-align: center;
}

div.pointDiv span{
	float: right;
	color: #1A1A1A;
	margin-right: 10px;
	font-weight: bold;
}