div#pointMenu{
	position: absolute;
	height: 30px;
	width: 50px;
	margin: -435px 0 0 20px;
	padding: 0 0 0 5px;
	background: white;
}

div#arrowLeft{
	position: absolute;
	height: 0px;
	width: 0px;
	margin: 0 0 0 -10px;
	border-top: 15px solid transparent; 
	border-right: 10px solid white; 
	border-bottom: 15px solid transparent;
}

div#pointMenu input{
	border: none;
	outline: none;
	height: 20px;
	width: 20px;
	line-height: 10px;
	margin: 5px 0 5px 0px;
	padding: 5px;
	color: white;
	font-family: "Open Sans";
	font-size: 10px;
}